:root {
  --primary: #647295;
  --secondary: #9f496e;
  --light: #f2ebe5;
  --dark: #2b262d;
  --divider: #64729540;
  --font-family: "DM Sans", serif;
  --box-shadow: 0 1px 4px 0 #3c40444d, 0 1px 4px 1px #3c404326;
}

body {
  background-color: var(--light);
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--dark);
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.success {
  margin-top: 2rem;
  color: #30a021;
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  font-variant: small-caps;
}

.error {
  margin-top: 2rem;
  color: #b31818;
  text-shadow: 1px 1px #00000080;
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  font-variant: small-caps;
}

h1 {
  color: var(--primary);
}

.container {
  box-shadow: var(--box-shadow);
}

button {
  border: solid 2px var(--dark);
  border-radius: 10px;
  background-color: var(--primary);
  color: white;
  &:hover {
    border-color: var(--primary);
    background-color: var(--secondary);
    transition: 0.5s;
  }
}
