:root {
  --primary: #647295;
  --secondary: #9f496e;
  --light: #f2ebe5;
  --dark: #2b262d;
  --divider: #64729540;
  --font-family: "DM Sans", serif;
  --box-shadow: 0 1px 4px 0 #3c40444d, 0 1px 4px 1px #3c404326;
}

body {
  background-color: var(--light);
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.liste-nav {
  a {
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.05);
      transition: all 0.3s ease;
      border: solid var(--secondary);
      border-width: 1px;
      border-radius: 5px;
      background-color: var(--secondary);
    }
  }
}

.recherche {
  font-size: 1.2em !important;
  transition: all 0.3s ease;
  &:focus {
    color: var(--secondary) !important;
    box-shadow: 0 0 5px #ff5733 !important; /* Effet lumineux autour */
    border-color: var(--secondary) !important;
    transition: all 0.3s ease;
  }
}

.search-list {
  &:hover {
    background-color: var(--secondary);
    opacity: 0.9;
    cursor: pointer;
  }
}

::placeholder {
  color: var(--secondary) !important;
  opacity: 0.7 !important;
  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.success {
  margin-top: 2rem;
  color: #30a021;
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  font-variant: small-caps;
}

.error {
  margin-top: 2rem;
  color: #b31818;
  text-shadow: 1px 1px #00000080;
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  font-variant: small-caps;
}

h1 {
  color: var(--primary);
}

.container {
  box-shadow: var(--box-shadow);
}

.title {
  font-size: 3rem;
}

.genres {
  &:hover > :not(:hover) {
    opacity: 0.5;
    transition: 0.3s;
  }
  a {
    color: var(--dark);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    background: linear-gradient(90deg, #9f496e 0%, #647295 50%, #9f496e 100%);
    width: 100%;
    text-align: center;
    border: solid 1px rgba(0, 0, 0, 0.404);
    &:hover {
      color: var(--light);
    }
  }
}

.nav-item,
.dropdown-item {
  border: none !important;
}

button[type="submit"] {
  border: solid 2px var(--dark);
  border-radius: 10px;
  background-color: var(--primary);
  color: white;
  &:hover {
    border-color: var(--primary);
    background-color: var(--secondary);
    transition: 0.5s;
  }
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

footer {
  background-color: var(--dark);
  color: var(--light);
  padding: 4rem 0;
  margin-top: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer .container {
  text-align: center;
}

footer .footer-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--light);
  margin-bottom: 1.5rem;
}

footer .logo svg {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

footer .logo svg:hover {
  transform: rotate(360deg);
}

footer .d-flex a {
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

footer .footer-link:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

footer p {
  font-size: 0.9rem;
  margin-top: 1rem;
}

footer p.small {
  font-size: 0.8rem;
  color: #ccc;
}

.btn-prim {
  background-color: var(--primary);
  color: white;
}

h1 {
  color: var(--primary);
}

.container {
  box-shadow: var(--box-shadow);
}

ul {
  .list-group-item {
    background-color: var(--light);
    border: none;
    color: var(--dark);
  }
}

h2 {
  color: var(--secondary);
}
